.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0 var(--spacing-md);
  background-color: var(--surface-ground);
  position: relative;
  overflow-y: auto;
}
