.app-header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-md);
  border-bottom: 1px solid var(--telus-mystic-grey);
  background-color: var(--telus-purple);
  color: var(--telus-white-lilac);
  font-weight: var(--font-weight-bold);
}