<app-page-header title="Cow List">
  <app-text-input
    placeholder="Search ear tag"
    [value]="searchInput ?? ''"
    (valueChange)="onSearch($event)">
  </app-text-input>

  <app-dropdown
    [options]="statusOptions"
    optionLabel="label"
    optionValue="value"
    placeholder="Status"
    [ngModel]="statusInput"
    (ngModelChange)="onStatusChange($event)">
  </app-dropdown>

  <app-dropdown
    [options]="penOptions"
    optionLabel="label"
    optionValue="value"
    placeholder="Pen"
    [ngModel]="penInput"
    (ngModelChange)="onPenChange($event)">
  </app-dropdown>
</app-page-header>

<app-table
  [value]="(cows$ | async) ?? []"
  [columns]="columns"
  [rowClickable]="true"
  [rows]="rows"
  [first]="page * rows" 
  [totalRecords]="totalRecords"
  [loading]="loading"
  [lazy]="true"
  (pageChange)="onPageChange($event)"
  (rowClick)="rowClick($event)">
</app-table>
