<div class="cow-detail-page" *ngIf="cow">

  <app-page-header
    [title]="'Cow ' + cow.id"
    [showBack]="true" fallbackUrl="/cows">
  </app-page-header>

  <!-- Summary -->
  <div class="summary-card">
    <div class="summary-item">
      <span class="label">Ear Tag</span>
      <span class="value">{{ cow.id }}</span>
    </div>

    <div class="summary-item">
      <span class="label">Gender</span>
      <span class="value">{{ cow.sex | humanize}}</span>
    </div>

    <div class="summary-item">
      <span class="label">Pen</span>
      <span class="value">{{ cow.pen | humanize}}</span>
    </div>

    <div class="summary-item">
      <span class="label">Status</span>
      <span class="value">{{ cow.status | humanize}}</span>
    </div>
  </div>

  <!-- Metrics -->
  <div class="metrics-card">
    <div class="metric">
      <span class="label">Current Weight</span>
      <span class="value">
        {{ cow.weight ? (cow.weight + ' kg') : '—' }}
      </span>
    </div>

    <div class="metric">
      <span class="label">Daily Weight Gain</span>
      <span class="value">{{ dailyWeightGain }}</span>
    </div>
  </div>

  <!-- Timeline -->
  <div class="timeline-card">
    <h3>Recent Events</h3>

    <ul class="timeline" *ngIf="cow.events?.length; else noEvents">
      <li *ngFor="let event of cow.events; trackBy: trackByEvent">
        <span class="date">
          {{ event.date | date: 'yyyy-MM-dd' }}
        </span>

        <span class="event">
          <ng-container [ngSwitch]="event.type">

            <span *ngSwitchCase="'REGISTERED'">
              Cow registered
            </span>

            <span *ngSwitchCase="'WEIGHT'">
              Weight check: {{ event.value }} kg
            </span>

            <span *ngSwitchCase="'TREATMENT'">
              Treatment applied
            </span>

            <span *ngSwitchCase="'DECEASED'">
              Cow marked as deceased
            </span>

          </ng-container>
        </span>
      </li>
    </ul>

    <ng-template #noEvents>
      <p>No events recorded.</p>
    </ng-template>
  </div>


</div>
