<p-table
  [value]="value"
  [loading]="loading"
  [paginator]="paginator"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [lazy]="lazy"
  [rowHover]="true"
  responsiveLayout="scroll"
  (onPage)="onPageChange($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr
      (click)="onRowClick(row)"
      [class.row-clickable]="rowClickable"
    >
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        [attr.colspan]="columns.length"
        class="text-center"
      >
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
