<p-table
  [value]="value"
  [dataKey]="dataKey"
  [loading]="loading"
  [paginator]="paginator"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event)"
>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        [attr.colspan]="columns.length"
        class="text-center"
      >
        No records found
      </td>
    </tr>
  </ng-template>

</p-table>
